.loader::before {
  display: block;
  position: absolute;
  content: '';
  top: -20px;
  left: -20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px dashed #004b4b;
}

.loader {
  position: absolute;
  top: 25vh;
  left: calc(50vw - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px dashed teal;
  animation: rotate 4s linear infinite;
}

.loader::after {
  display: block;
  position: absolute;
  content: '';
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px dashed #00b4b4;
}

@keyframes rotate {
  0% {
    transform: rotate(0) scale(0.2);
  }

  50% {
    transform: rotate(360deg) scale(1);
  }

  100% {
    transform: rotate(0) scale(0.2);
  }
}