.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  list-style-type: none;
  background-color: lightcyan;
  border: 1px solid teal;
  border-radius: 10px;
}

.navbar__link {
  margin: auto;
}